---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'tools', text: '工具' },
  { depth: 2, slug: 'copyright', text: '版权' },
  { depth: 2, slug: 'theme', text: '主题' },
]
---

<PageLayout title='About' {headings} >{/*comment*/}
  <p>学生/<Spoiler>西交梅西</Spoiler></p>
  <p>
   一名来自西安交通大学人工智能专业的25级在读生。欢迎与我交流~
  </p>
  
  {/*<Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />*/}

  {/* general-talk */}
  
  {/* tools */}
  <h2 id='tools'>工具</h2>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Web Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'VS Code',
        description: 'Code Editor',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
    ]}
  />

  {/* general-talk */}
  <h2 id='copyright'>版权</h2>
  <p>
   本站中的所有原创内容及设计整体，除非特别说明，均使用 CC BY-NC-SA 4.0 协议进行授权。
   这意味着您可以在协议允许的范围内自由地分享、复制本作品的内容及基于本作品内容进行创作，
   但必须注明原作者和链接，并且不得用于任何商业目的。
  </p>

  {/* general-talk */}
  <h2 id='theme'>主题</h2>
  <p>
   本主题 Astro-Tian 基于 Astro 的 pure主题进行了一定程度的修改，
   包括优化页面排版，解决容器内边距格式问题，
   本主题正持续优化中。
  </p>
  
  
  
</PageLayout>
